/*

0       0       0       1
0       0       1       0
0       1       0       0
style   id      class   element

*/

@font-face {
    font-family: "Roboto 1";
    src: url('../fonts/Roboto/Roboto-Thin.ttf');
    font-weight:100;
}

@font-face {
    font-family: "Roboto 1";
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight:300;
}

@font-face {
    font-family: "Roboto 1";
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight:500;
    font-style:normal;
}

@font-face {
    font-family: "Roboto 1";
    src: url('../fonts/Roboto/Roboto-MediumItalic.ttf');
    font-weight:500;
    font-style:italic;
}


*{
    margin:0;
    padding:0;
}

body{
    font-size:24px;
}

h1{
    color:red;
    font-weight:normal;
}

.my_names{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.my_name{
    color:#cecece;
    text-align:center;
    width:150px;
    /* height:150px; */

    border:3px solid rgba(47, 142, 112, .3);
    background-color: rgba(47, 142, 112, .5);
    padding-top:30px;
    padding-right:10px;
    padding-left:30px;
    padding-bottom:70px;
    margin:30px 10px 70px 30px;
}

.my_first_name{
    color:green;
    font-weight:bold;
}

.image_block{
    position: relative;
}

.image{
    width:300px;
    height:300px;
    /* position:absolute;
    left:20px;
    top:20px;
    right:auto;
    bottom:auto; */
}

.my_jobs{
    position:relative;
    z-index:2;
    font-family: 'Roboto 1';
    font-weight: 500;
    font-style: italic;

    font-size:2em;
}

.one_job{
    font-size:2em;
    opacity: 1;
    padding:20px 0;
}

.one_job.backend{
    color:green;
}

.one_job.frontend{
    color:orange;
}

.one_job:last-child{
    padding-bottom:0;
}

.one_job:first-child{
    padding-top:0;
}

.one_job:nth-child(2n + 1){
    padding-top:60px;
}

.one_job:hover{
    color:blue;
}

.contact_form input{
    outline: 0;
}
.contact_form input:focus{
    border-color:orange;
}

.contact_form input:active{
    border-color:red;
}

.contact_form a{
    text-decoration: none;
}

.contact_form a:visited{
    color:red;
}

.contact_form a:visited{
    color:red;
}

.checkbox{
    margin-right:20px;
    display:none;
}

.checkbox:checked{
    margin-right:10px;
}

.checkbox_description{
    color:blue;
}

.checkbox:checked + .checkbox_description{
    color:green;
}

.checkbox_image{
    width:20px;
    height:20px;
    background-image: url(../images/checkbox.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.checkbox:checked + .checkbox_image{
    background-image: url(../images/checkbox-ok.svg);
}

.radio:checked + .checkbox_image{
    background-image: url(../images/checkbox-ok.svg);
}

.link{
    display: block;
    padding:10px 0;
    position: relative;
    width:100%;

}

.link:hover{
    width:50%;

    transition: all 1s linear 0.2s;
    -moz-transition: all 1s linear 0.2s;
    -ms-transition: all 1s linear 0.2s;
    -webkit-transition: all 1s linear 0.2s;
    -o-transition: all 1s linear 0.2s;

}

/* .link:before{
    content:"ss"
} */

.link:before{
    content:"";
    position:absolute;
    top:0;
    right:20px;
    background-image:url('../images/arrow.png');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width:40px;
    height:40px;

    transform: scale(0.5, 1);
}

.link:after{
    content:"";
    position:absolute;
    top:0;
    right:200px;
    background-image:url('../images/arrow.png');
    background-size:auto;
    background-position: 10px 20px;
    background-repeat: no-repeat;
    width:40px;
    height:40px;

    -moz-transform: rotate(45deg); /* Для Firefox */
    -ms-transform: rotate(45deg); /* Для IE */
    -webkit-transform: rotate(45deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(45deg); /* Для Opera */
    transform: rotate(45deg);
}

.section1{
    background-color: pink;
    display: flex;
}